<!-- <nav mat-tab-nav-bar [tabPanel]="tabPanel"> -->
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
	<a mat-tab-link *ngIf="isLoggedIn$ | async" [active]="router.url === '/feed'" [routerLink]="['/feed']">Your Feed</a>
  <a mat-tab-link [active]="router.url === '/'" [routerLink]="['/']"> Global Feed </a>
  <a mat-tab-link *ngIf="tagNameProps" (click)="activeLink = '/tags/'+tagNameProps" [active]="router.url === '/tags/'+tagNameProps" [routerLink]="['/tags', tagNameProps]">{{ tagNameProps }} </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>