:host {
  display: block;
	
// @import url('/src/styles.scss');

	::ng-deep {
	
		.mat-grid-list {
			width: 100%;
		}
		mat-grid-tile:nth-child(1) {
			.mat-grid-tile-content {
				display: flex;
				justify-content: flex-start;
			}
		}
		.logo {
			font-weight: 900;
			font-size: 2.5rem;
			background: linear-gradient(to right,#9B5DE5 10%,var(--main-color) 20%,#FEE440 30%,#00BBF9 40%, var(--main-accent) 50%, #00BBF9 60%,#FEE440 70%,#F15BB5 80%, #9B5DE5 90%);
			background-size: 500% auto;
			
			color: #000;
			background-clip: text;
			text-fill-color: transparent;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			
			animation: shine 20s linear infinite;
			@keyframes shine {
				to {
					background-position: 500% center;
				}
			}
		}
		.menu {
			display: flex;
			padding-left: 0;
			width: 100%;
			justify-content: flex-end;
			align-items: center;
			li {
				list-style-type: none;
				margin: 0 10px;
				&:last-child {
					margin-right: 0;
				}
				::ng-deep {
					
					.mdc-button__label {
						display: flex;
						align-items: center;
						img {
							width: 20px;
							height: 20px;
							border-radius: 50%;
							margin-right: 1rem;
						}
					}
				}
			}
		}
		.login, .register, .home {
			font-weight: 500;
			margin-left: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 39px;
			.mat-button-wrapper {
				display: flex;
				align-items: center;
			}
		}
		.login, .register {
			.mat-icon {
				margin-right: 5px;
			}
		}
		@keyframes gradient-text {
			from {
				-webkit-filter: hue-rotate(0deg);
			}
			to {
				-webkit-filter: hue-rotate(-360deg);
			}
		}
	}
}
