<div class="auth-register">
	<div class="container">
		<h1>Register</h1>
		<!-- {{isSubmitting$ | async}} -->
		<a [routerLink]="['/login']" mat-button color="accent">Already have an account ? Login!</a>
		<app-backend-error-messages 
			*ngIf="backendError$ | async" 
			[backendErrors]="backendError$ | async">
		</app-backend-error-messages>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Name</mat-label>
					<input 
						matInput 
						value=""
						formControlName="username"
						>
						<mat-error *ngIf="form.controls['username'].value.length === 0">
							Please enter a name
						</mat-error>
				</mat-form-field>
				
		
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Email</mat-label>
					<!-- [errorStateMatcher]="matcher"
					[formControl]="emailFormControl"  -->
					<input 
						type="email" 
						matInput 
						placeholder="your_email@example.com"
						formControlName="email"
						>
					
					<mat-error *ngIf="!form.controls['email'].valid">
						Please type valid email
					</mat-error>
			
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Password</mat-label>
					<input 
						matInput 
						value="" 
						type="password" 
						formControlName="password"
						>
						<mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].value.length === 0">
							Password is <strong>required</strong>
						</mat-error>
						<mat-error *ngIf="form.controls['password'].value.length < 4">
							Enter minimum 4 character  
						</mat-error>
					</mat-form-field>

				<button 
						mat-raised-button 
						color="accent" 
						matRipple 
						mat-button
						type="submit"
						[disabled]="isSubmitting$ | async"
						>
						Sign up
				</button>
		</form>
	</div>
</div>