<div class="auth-register">
	<div class="container">
		<h1>Register</h1>
		<a [routerLink]="['/login']" mat-button color="accent">Already have an account ? Login!</a>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Name</mat-label>
					<input 
						matInput 
						value=""
						formControlName="name"
						>
						<mat-error *ngIf="!form.errors?.['required']">
							Please enter a name
						</mat-error>
				</mat-form-field>
				
		
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Email</mat-label>
					<input 
						type="email" 
						matInput 
						[formControl]="emailFormControl" 
						[errorStateMatcher]="matcher"
						placeholder="your_email@example.com"
						formControlName="email"
						>
					<!-- <mat-hint>Errors appear instantly!</mat-hint> -->
					<!-- <mat-error *ngIf="form.errors?.['email'] && !form.errors?.['required']">
						Please enter a valid email address
					</mat-error> -->
					<mat-error *ngIf="form.errors?.['email']">
						Email is <strong>required</strong>
					</mat-error>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Password</mat-label>
					<input 
						matInput 
						value="" 
						type="password" 
						formControlName="password"
						>
						<mat-error *ngIf="form.errors?.['password'] && !form.errors?.['required']">
							Enter minimum 4 character  
						</mat-error>
						<mat-error *ngIf="form.errors?.['required']">
							Password is <strong>required</strong>
						</mat-error>
				</mat-form-field>

				<button 
						mat-raised-button 
						color="accent" 
						matRipple 
						mat-button
						type="submit"
						>
						Sign up
				</button>
		</form>
	</div>
</div>