:host {
	.container {
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		.articles {
			width: calc(70% - 2rem);
			padding: 0 1rem;
		}
		.tags	{
			width: calc(30% - 2rem);
			padding: 0 1rem;

		}
	}
}