<mat-paginator #paginator
               class="paginator"
               (page)="handlePageEvent($event)"
               [length]="totalProps"
               [pageSize]="limitProps"
               [disabled]="disabled"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
               [hidePageSize]="hidePageSize"
               [pageIndex]="currentPageProps - 1"
               aria-label="Select page">
</mat-paginator>