

<div class="article-wrapper">
	<div class="article-banner">
		<div class="container" *ngIf="article">
			<h1>{{ article.title }}</h1>
			<div class="article-meta">
				<a [routerLink]="['profiles', article.author.username]" class="image">
					<img [src]="article.author.image" [alt]="article.author.username">
				</a>
				<div class="info">
					<a [routerLink]="['profiles', article.author.username]">{{ article.author.username }}</a>
					<span class="date">{{ article.createdAt }}</span>
				</div>
				<div class="button-group" *ngIf="isAuthor$ | async">
					<a mat-flat-button color="primary" [routerLink]="['/articles', article.slug, 'edit']">
						<mat-icon>edit</mat-icon>
						Edit Article
					</a>
					<a mat-flat-button color="accent">
						<mat-icon>delete</mat-icon>
						Delete Article
					</a>
	
				</div>
			</div>
		</div>
	</div>	
	<div class="article-body">
		<div class="container">
			<mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
			<div class="content" *ngIf="article">
				<p>{{article.body}}</p>
				<app-taglist [tags]="article.tagList"></app-taglist>
			</div>
		</div>
	</div>
</div>
