<div class="new-article">
	<div class="container">
		<h1>Magic starts here</h1>
		<app-backend-error-messages 
			*ngIf="errorsProps" 
			[backendErrors]="errorsProps">
		</app-backend-error-messages>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			
			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Title</mat-label>
				
				<input 
					type="text" 
					matInput 
					placeholder="Article Title"
					formControlName="title"
					>
				
				<mat-error *ngIf="form.controls['title'].invalid">
					Title is <strong>required</strong>
				</mat-error>
		
			</mat-form-field>
			
			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Description</mat-label>
				<input 
					matInput 
					type="description" 
					placeholder="What is this article about"
					formControlName="description"
					>
					<mat-error *ngIf="form.controls['description'].invalid">
						Description is <strong>required</strong>
					</mat-error>
				</mat-form-field>
			
				<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Body</mat-label>
				<textarea 
					matInput 
					type="body" 
					formControlName="body"
					></textarea>
					<mat-error *ngIf="form.controls['body'].invalid">
						Body is <strong>required</strong>
					</mat-error>
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Tags list</mat-label>
					<input 
						matInput 
						type="tagList" 
						formControlName="tagList"
						>
						<mat-error *ngIf="form.controls['tagList'].invalid">
							Tags list is <strong>invalid</strong> only letters please
						</mat-error>
					</mat-form-field>
			<button 
					mat-raised-button 
					color="primary" 
					matRipple 
					mat-button
					type="submit"
					[disabled]="form.invalid || isSubmittigProps"
					>
					Publish Article
			</button>
		</form>
	</div>
</div>
