<mat-toolbar>
	<mat-grid-list cols="5" rowHeight="65px">
		<mat-grid-tile colspan="1" rowspan="1">
			<a [routerLink]="['/']" class="logo">MFeed</a>
		</mat-grid-tile>
		<mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>
		<mat-grid-tile colspan="2" rowspan="1">
			<ul class="menu">
				<!-- <li>
					<a 	class="example-ripple-container mat-elevation-z4 home"
							matRipple 
							[matRippleCentered]="true" 
							mat-icon-button 
							color="accent"
							>
							<mat-icon>home</mat-icon>
					</a>
				</li> -->
				<li>
						<a
							class="login example-ripple-container mat-elevation-z4"
							matRipple 
							mat-button 
							[routerLink]="['/login']"
							color="primary"
							[matRippleCentered]="true">
						<mat-icon>face</mat-icon>
						Login
					</a>
				</li>
				<li>
					<a 
						class="register example-ripple-container mat-elevation-z4"
						matRipple 
						mat-button
						color="accent"
						[routerLink]="['/register']"
						[matRippleCentered]="true">
						<mat-icon>person_add</mat-icon>
						Register
					</a>
				</li>
			</ul>
		</mat-grid-tile>
	</mat-grid-list>
  <!-- <span class="example-spacer"></span> -->
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
<router-outlet></router-outlet>