@use 'sass:map';
@use '@angular/material' as mat;


// Get the primary color palette from the color-config.

:host {
	::ng-deep {
		.mat-mdc-card {
			width: 100%;
			.mat-mdc-card-header {
				justify-content: space-between;
				align-items: center;
				a:nth-child(3) {
					margin-right: auto;
				}
				.mat-mdc-card-avatar {
					margin-bottom: 0;
					border-radius: 50%;
					overflow: hidden;
					margin-right: 1rem;
					> img {
						width: 100%;
						height: 100%;
					}
				}
			}
			a:not(.mat-mdc-button-ripple) {
				color: #FAFAFA;
				text-decoration: none;
			}
		}
	}
}